<footer class=" bg-gradient-to-r from-whiteBrkn via-azulMedio to-whiteBrkn text-darkBlue h-24 flex items-center flex-col gap-3">
    <div class=" text-lg flex flex-row gap-3 font-montserrat font-medium italic pt-2">
        <p class="" id="footerText-2"></p>
        <p class="" id="footerText-3"></p>
        <p class="" id="footerText-4"></p>
        <p class="" id="footerText-5"></p>
        <p class="" id="footerText-6"></p>
        <p class="" id="footerText-2"></p>
        <p class="" id="footerText-2"></p>
        <p class="" id="footerText-2"></p>
        <p class="" id="footerText-2"></p>
        <p class="" id="footerText-2"></p>
      </div>
    <div class="flex flex-row items-center font-roboto italic border-t-2 border-azulGris py-2">
        <p class="" id="footerText-1"></p>
    </div>
      
  </footer>
  