---
const nav = [
    {
        id:"aboutMe",
        href: "#aboutMesection",
    },
    {
        id: "studies",
        href: "#studiessection",
    },
    {
        id: "skills",
        href: "#skillssection",
    },
    {
        id: "work",
        href: "#worksection",
    },
    {
        id: "projects",
        href: "#projectsection",
    }
]
---

<nav class="py-3 px-5 fixed top-0 z-10 bg-whiteBrkn">
    <ul class="flex gap-7 flex-row">
        {nav.map((item) => (
            <li>
                <a href={item.href} class="text-darkBlue font-roboto italic font-medium text-30" id={item.id}></a>
            </li>
        ))}
        <li>
            <button class="text-30 font-roboto italic font-bold text-darkBlue" id="btn-en">EN</button>
        </li>
        <li>
            <button class="text-30 font-roboto italic font-bold text-darkBlue" id="btn-es">ES</button>
        </li>
    </ul>
</nav>
