<div class="fixed right-0 top-1/2 transform -translate-y-1/2 bg-whiteBrkn p-4 rounded-l-lg flex flex-col items-center space-y-10">
    <!-- Enlace de LinkedIn -->
    <a href="https://www.linkedin.com" target="_blank" class="block">
      <img src="/linkedinLogo.png" alt="LinkedIn" class="h-12 w-12" />
    </a>
  
    <!-- Enlace de GitHub -->
    <a href="https://github.com" target="_blank" class="block">
      <img src="/gitHubIcon.png" alt="GitHub" class="h-12 w-12" />
    </a>
  
    <!-- Enlace al Formulario -->
    <a href="/formulario" target="_self" class="block">
      <img src="/formIcon.png" alt="Formulario" class="h-12 w-12" />
    </a>
  </div>
  