---
// Recibe el id como propiedad
interface props {
  id: string;
}
// Desestructuramos la propiedad id
const { id } = Astro.props;
---

<div class="flex flex-row py-10 gap-32 border-l-2 border-azulGris border-opacity-70 p-10  transition-all hover:translate-x-2 hover:translate-y-2 hover:shadow-lg hover:bg-paleBlue hover:bg-opacity-40 duration-500 ease-in-out">
  <div id={id} class="flex justify-left align-middle flex-wrap flex-row w-1/2">
    <h3 class="text-3xl font-montserrat italic font-semibold text-azulGris text-wrap" id={`${id}-title`}></h3>
    <p class="font-roboto font-bold italic text-20 text-crudo w-10/12" id={`${id}-date`}></p>
  </div>
  <div class="flex justify-left align-middle flex-wrap flex-row">
    <p class="font-montserrat font-medium text-20 text-azulGris w-10/12" id={`${id}-description`}></p>
  </div>
</div>

