---
import Footer from '../components/footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/styles/global.css">
		<title>Document</title>
	</head>
	<body class="bg-whiteBrkn w-screen overflow-x-hidden flex flex-col text-justify">
		<slot />
	</body>
	<Footer />
	<script src="/scripts/dynamic-lng.js" is:inline></script>
	<script src="/scripts/modal-form.js" is:inline></script>
</html>