---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
		<title>Document</title>
	</head>
	<body class="bg-whiteBrkn">
		<slot />
		
	</body>
	<script src="/scripts/dynamic-lng.js" is:inline></script>
</html>